						/*BASIC*/
*{
	margin: 0;
	padding: 0;
	font-family:  Times, serif;
}
body{
	background: #DCDBDB;
}
ul li {
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1075px;
	margin: 0 auto;
	background: #adadad;
}
header{
	height: 120px;
	width: 100%;
	background: #059FAD;
}
.homePage{
	color: #B3D9DB;
}
.menu li{
	display: inline-block;
}
.menu li a{
	text-decoration: none;
	background: #EDF7E9;
	padding: 10px 20px;

}
.menu li a:hover:not(.active){
	background: #202222;
	color: #fff;
	transition: all 0.3s ease;

}
#active{
	background: #202222;
	color: #fff;
}
						/*HEADER*/
h1{
	font-size: 40px;
}
nav{
	text-align: center;
	padding-top: 66px;
}
.cv-menu li{
	display: inline-block;
	margin:10px;
}
.cv-menu li a{
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
}
.cv-menu li a{
	font-size: 20px;
}
.cv-menu li a:hover{
	color: #719e11;
	transition: all 0.3s ease;
}
.header-block img{
	border-radius: 80px;
	border: 2px solid black;
	margin-bottom: 20px;
}
.header-block{
	text-align: center;
}
.header-block h1{
	font-size: 40px;
	padding: 20px 0;
	color: #fff;
}
							/*SECTION*/

section, footer{
	width: 100%;
}
section h2, footer h2{
	margin:  10px 0 20px 0;
	text-align: center;
	color:  #719e11;
	font-size: 30px;
}
.block{
	width: 80%;
	background: #fff;
	margin: 0 auto;
	padding: 0 35px 10px 50px;
}
.timeline {
	width: 30%;
	float: left;
}
.place{
	width: 60%;
	float: right;
}
.small-education-block {
	width: 100%;
	margin: 20px 0;
	
}
.tech-block{
	background: #33373b;
	width: 100%;
	padding: 10px 0;
	color: #fff;
}
.circle-small-block{
	float: left;
	margin-right: 80px;
}
.circle-small-block:last-child{
	margin-right: 0;
}
.circle-small-block h3{
	text-align: center;
	margin: 10px 0;
}
.circle{
	font: 30px/80px Times, serif;
	width: 80px;
	height: 80px;
	text-align: center;
	border: 20px solid #565f60;
    border-left: 20px solid #719e11;
	border-radius: 100%;	
}
.circle span {
	font-size: 0.7em;
}
.circle-block{
	width: 50%;
	margin: 0 auto;
}
								/*FOOTER*/

.contact-block{
	width: 88%;
	margin:0 auto;
	background: #fff;
}
.myContact{
	float: left;
	margin:10%;
}
.send-message{
	width: 30%;
	float: left;
}
input, textarea{
	width: 450px;
	padding: 15px;
	margin: 10px;
	border: none;
	background: #202222;
	opacity: 0.7;
	color: #fff;
	outline: none;
}
input:focus, textarea:focus{
	background: #070707;
}

button{
	background: #719e11;
	color: #070707;
	font-weight: 700;
	padding: 15px;
	margin: 10px;
	border: none;
	outline: none;
	font-size: 18px;
}
button:hover{
	background: #202222;
	opacity: 0.8;
	color: #fff;
	transition: all 0.3s ease;
}
.icon i{
	width: 50px;
	height: 45px;
	padding-top: 5px;
	border-radius: 25px;
	background: #719e11;
	color: #fff;
	font-size:36px;
	text-align: center;
	margin:10px 20px 10px 0;
}

.small-education-block,
.tech-block,
.circle-small-block,
.contact-block{
	content: "";
	display: table;
	
}